<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <span class="navbar-brand" href="#">-Fruit App-</span>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link" *ngIf="userIsAdmin()" routerLink="/fruit/user-list">User List | </a>
                      <a class="nav-link" routerLink="/fruit/list">Fruits | </a>
                      <a class="nav-link" style="cursor: pointer;" (click)="navigateToOrder()">Orders List | </a>
                      <button class="nav-link" style="cursor: pointer;" (click)="logiOut()">Logout</button>
                    </div>
                  </div>
                </div>
              </nav>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>