.img-inner {
    width: 16rem;
    margin: 1.2rem;
    padding: 1.5rem;
    border: 2px solid #e7e7f0;
    border-radius: 10px;
}

.img-price{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.img-name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img {
    width: 12rem;
    height: 13.3rem;
    object-fit: fill;
    overflow: hidden;
}