.btn-file {
    background: #247cea;
    padding: 1px 5px;
    margin-top: 30px;
    border-radius: 3px;
    padding: 8px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
  }
  
  .btn-file > input {
    display: none;
  }