<h2>User List</h2>

<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                   <th>ID</th>
                   <th>Name</th>
                   <th>Email</th>
                   <th>Phone</th>
                   <th>Address</th>
                   <th>Send Message</th>
                   <th>Is Active</th>
                   <th>Update Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of userList">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.address}}</td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="item.message"/><br/>
                        <button class="btn btn-primary btn-sm" (click)="sendMessage(item.message, item.id)">
                            Send&nbsp;Message
                        </button>
                    </td>
                    <td>
                        <span *ngIf="item.isActive" class="text-success">Active</span>
                        <span *ngIf="!item.isActive" class="text-danger">InActive</span>
                    </td>
                    <td>
                        <input type="checkbox" (change)="updateStatus(item.id,$event)" *ngIf="item.isActive" checked/>
                        <input type="checkbox" (change)="updateStatus(item.id,$event)" *ngIf="!item.isActive"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
